*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  width: 100%;
}
a{
  text-decoration: none;
}
ul,li,ol{
  list-style: none;
}
input{
  outline: none;
  border: none;
}